<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="style.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css"
        integrity="sha256-UK1EiopXIL+KVhfbFa8xrmAWPeBjMVdvYMYkTAEv/HI=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css"
        integrity="sha256-4hqlsNP9KM6+2eA8VUT0kk4RsMRTeS7QGHIM+MZ5sLY=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
        integrity="sha256-+N4/V/SbAFiW1MPBCXnfnP9QSN3+Keu+NlB+0ev/YKQ=" crossorigin="anonymous" />
    <title>InstAds</title>
</head>

<body>
    <div class="container">
        <nav class="nav">
            <div class="logo-box">
                <img src="./img/logo-1.svg" alt="" class="logo" />
            </div>
            <div class="nav__categories">
                <div class="nav__hamburger-box">
                    <div class="nav__hamburger-icon"></div>
                </div>
                <a href="">Categories</a>
            </div>
            <div class="nav__list">
                <a href="">Contact</a>
                <a href="">Help</a>
            </div>
        </nav>
        <header class="header">
            <div class="header__wrapper">
                <div class="header__content">
                    <h1 class="header__title">
                        <span class="header__title--main">
                            InstAds, New Way to Advertise</span>
                        <span class="header__title--sub">Look for Instagram profiles who willing to advertise your
                            product</span>
                    </h1>
                    <label class="header__search-box">
                        <i class="fas fa-search"></i>
                        <input type="text" name="" id="" class="header__search" placeholder="Search..." />
                    </label>
                </div>
                <div class="header__bg">
                    <img src="./img/bg.svg" alt="background" />
                </div>
            </div>
        </header>
        <main class="main">
            <section class="featured">
                <h3>Featured</h3>
                <div class="featured__container">
                    <% users.forEach(user => {%>
                    <div class="profile profile--featured">
                        <div class="img-box">
                            <img src="<%=user.avatar%>" alt="" class="profile__img" />
                        </div>
                        <h4 class="profile__name"><%= user.name%></h4>
                        <div class="profile__location">
                            <i class="fas fa-map-marker-alt"></i>
                            <p><%= user.location%></p>
                        </div>
                        <div class="profile__details">
                            <div class="profile__followers">
                                <h4><%= user.followersCount%></h4>
                                <p>Followers</p>
                            </div>
                            <div class="profile__conversion">
                                <h4><%= user.conversionRate%>%</h4>
                                <p>Conversion</p>
                            </div>
                        </div>
                        <div class="profile__contact">
                            <p>Starting At <span>$<%= user.priceForPost%></span></p>
                            <a href="https://instagram.com/<%=user.instagram%>" class="instagram">
                                <i class="fab fa-instagram"></i>
                            </a>
                            <a href="https://wa.me/<%=user.whatsapp%>" class="whatsapp">
                                <i class="fab fa-whatsapp"></i>
                            </a>
                            <a href="mailto:<%=user.email%>" class="email">
                                <i class="far fa-envelope"></i>
                            </a>
                        </div>
                    </div>
                    <% }); %>
                </div>
            </section>
            <section class="categories">
                <h3>Categories</h3>
                <div class="categories__container">
                    <a href="" class="category">
                        <i class="fas fa-volleyball-ball"></i>
                        <p class="category__text">Sports</p>
                    </a>
                    <a href="" class="category">
                        <i class="fas fa-utensils"></i>
                        <p class="category__text">Food</p>
                    </a>
                    <a href="" class="category">
                        <i class="fas fa-tv"></i>
                        <p class="category__text">TV & Movies</p>
                    </a>
                    <a href="" class="category">
                        <i class="fas fa-gamepad"></i>
                        <p class="category__text">Gaming</p>
                    </a>
                    <a href="" class="category">
                        <i class="fas fa-route"></i>
                        <p class="category__text">Travel</p>
                    </a>
                    <a href="" class="category">
                        <i class="fas fa-tshirt"></i>
                        <p class="category__text">Fashion</p>
                    </a>
                    <a href="" class="category">
                        <i class="fas fa-headphones"></i>
                        <p class="category__text">Music</p>
                    </a>
                    <a href="" class="category">
                        <i class="fas fa-music"></i>
                        <p class="category__text">Dance</p>
                    </a>
                </div>
            </section>

            <section class="profiles">
                <p class="profiles__sub-title">All Profiles</p>
                <h2>Find Your Next Advertiser</h2>
                <% users.forEach(user => {%>
                <div class="profiles__list">
                    <div class="profiles__item">
                        <div class="img-box">
                            <img src="<%=user.avatar%>" alt="" />
                        </div>
                        <div class="profiles__content-box">
                            <p>
                                <%= user.name %>,
                                <span>
                                    <i class="fas fa-map-marker-alt"></i>
                                    <%= user.location%>
                                </span>
                            </p>
                            <div class="profiles__details">
                                <div class="profiles__followers">
                                    <h4><%= user.followersCount %></h4>
                                    <p>Followers</p>
                                </div>
                                <div class="profiles__conversion">
                                    <h4><%= user.conversionRate %>%</h4>
                                    <p>Conversion</p>
                                </div>
                            </div>

                            <div class="profiles__contact">
                                <a href="https://wa.me/<%=user.whatsapp%>" class="whatsapp">
                                    <i class="fab fa-whatsapp"></i>
                                </a>
                                <a href="mailto:<%=user.email%>" class="email">
                                    <i class="far fa-envelope"></i>
                                </a>
                            </div>
                        </div>
                        <div class="profiles__extra">
                            <a href="https://instagram.com/<%=user.instagram%>">Instagram</a>
                            <p>52 Orders</p>
                        </div>
                    </div>
                </div>
                <% }); %>

            </section>
        </main>
        <footer class="footer"></footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"
        integrity="sha256-NXRS8qVcmZ3dOv3LziwznUHPegFhPZ1F/4inU7uC8h0=" crossorigin="anonymous"></script>
    <script src="./index.js"></script>
</body>

</html>