<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="style.css" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-154563219-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-154563219-1');
    </script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css"
        integrity="sha256-UK1EiopXIL+KVhfbFa8xrmAWPeBjMVdvYMYkTAEv/HI=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css"
        integrity="sha256-4hqlsNP9KM6+2eA8VUT0kk4RsMRTeS7QGHIM+MZ5sLY=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
        integrity="sha256-+N4/V/SbAFiW1MPBCXnfnP9QSN3+Keu+NlB+0ev/YKQ=" crossorigin="anonymous" />
    <title>INSTADS</title>
</head>

<body>
    <div class="container">
        <nav class="nav">
            <div class="nav__row">
                <div class="logo-box">
                    <a class="logo" href="">INSTADS</a>
                </div>
                <div class="nav__list">
                    <a href="">Contact</a>
                    <a href="">Help</a>
                    <button class="join trigger">Become an Influencer</button>
                </div>
            </div>
            <ul class="nav__filters">
                <li class="nav__filter">
                    <a href="" class="nav__filter-link">Sports</a>
                </li>
                <li class="nav__filter">
                    <a href="" class="nav__filter-link">Food</a>
                </li>
                <li class="nav__filter">
                    <a href="" class="nav__filter-link">TV & Movies</a>
                </li>
                <li class="nav__filter">
                    <a href="" class="nav__filter-link">Gaming</a>
                </li>
                <li class="nav__filter">
                    <a href="" class="nav__filter-link">Travel</a>
                </li>
                <li class="nav__filter">
                    <a href="" class="nav__filter-link">Fashion</a>
                </li>
                <li class="nav__filter">
                    <a href="" class="nav__filter-link">Music</a>
                </li>
                <li class="nav__filter">
                    <a href="" class="nav__filter-link">Dance</a>
                </li>
                <li class="nav__filter">
                    <a href="" class="nav__filter-link">Photography</a>
                </li>
            </ul>
        </nav>
        <header class="header">
            <div class="header__wrapper">
                <div class="header__content">
                    <h1 class="header__title">
                        Find The Perfect Influencer <br />For Your Business
                    </h1>
                    <label class="header__search-box">
                        <i class="fas fa-search"></i>
                        <input type="text" name="" id="" class="header__search" placeholder='Try "Photography"' />
                    </label>
                </div>
                <div class="header__bg">
                    <img src="./img/bg.svg" alt="background" />
                </div>
            </div>
        </header>
        <main class="main">
            <section class="featured">
                <h3>Featured</h3>
                <div class="featured__container">
                    <% users.forEach(user => {%>
                    <div class="profile">
                        <div class="profile__bg">
                            <img src="<%=user.topPost%>" alt="" class="profile__img" />
                        </div>
                        <div class="profile__content">
                            <div class="profile__img">
                                <img src="<%=user.avatar%>" alt="" />
                            </div>
                            <div class="profile__personal-info">
                                <h4 class="profile__name"><%= user.name%></h4>
                                <div class="profile__location">
                                    <i class="fas fa-map-marker-alt"></i>
                                    <p><%= user.location%></p>
                                </div>
                            </div>
                            <div class="profile__contact">
                                <a href="https://instagram.com/<%=user.instagram%>" class="instagram">
                                    <i class="fab fa-instagram"></i>
                                </a>
                                <a href="https://wa.me/<%=user.whatsapp%>" class="whatsapp">
                                    <i class="fab fa-whatsapp"></i>
                                </a>
                                <a href="mailto:<%=user.email%>" class="email">
                                    <i class="far fa-envelope"></i>
                                </a>
                            </div>
                        </div>
                        <div class="profile__stats">
                            <div class="profile__followers">
                                <h4><%= user.followersCount%></h4>
                                <p>Followers</p>
                            </div>
                            <div class="profile__real">
                                <h4>17%</h4>
                                <p>Real Users</p>
                            </div>
                            <div class="profile__price">
                                <h4><%= user.priceForPost%>$</h4>
                                <p>/Post</p>
                            </div>
                        </div>
                    </div>
                    <% }); %>
                </div>
            </section>
            <section class="categories">
                <h3>Categories</h3>
                <div class="categories__container">
                    <a href="" class="category">
                        <i class="fas fa-volleyball-ball"></i>
                        <p class="category__text">Sports</p>
                    </a>
                    <a href="" class="category">
                        <i class="fas fa-utensils"></i>
                        <p class="category__text">Food</p>
                    </a>
                    <a href="" class="category">
                        <i class="fas fa-tv"></i>
                        <p class="category__text">TV & Movies</p>
                    </a>
                    <a href="" class="category">
                        <i class="fas fa-gamepad"></i>
                        <p class="category__text">Gaming</p>
                    </a>
                    <a href="" class="category">
                        <i class="fas fa-route"></i>
                        <p class="category__text">Travel</p>
                    </a>
                    <a href="" class="category">
                        <i class="fas fa-tshirt"></i>
                        <p class="category__text">Fashion</p>
                    </a>
                    <a href="" class="category">
                        <i class="fas fa-headphones"></i>
                        <p class="category__text">Music</p>
                    </a>
                    <a href="" class="category">
                        <i class="fas fa-music"></i>
                        <p class="category__text">Dance</p>
                    </a>
                    <a href="" class="category">
                        <i class="fas fa-camera"></i>
                        <p class="category__text">Photography</p>
                    </a>
                </div>
            </section>

            <section class="profiles">
                <p class="profiles__sub-title">All Profiles</p>
                <h2>Find Your Next Influencer</h2>
                <div class="profiles__list">
                    <% users.forEach(user => {%>
                    <div class="profile">
                        <div class="profile__bg">
                            <img src="<%=user.topPost%>"" alt="" class=" profile__img" />
                        </div>
                        <div class="profile__content">
                            <div class="profile__img">
                                <img src="<%=user.avatar%>" alt="" />
                            </div>
                            <div class="profile__personal-info">
                                <h4 class="profile__name"><%= user.name%></h4>
                                <div class="profile__location">
                                    <i class="fas fa-map-marker-alt"></i>
                                    <p><%= user.location%></p>
                                </div>
                            </div>
                            <div class="profile__contact">
                                <a href="https://instagram.com/<%=user.instagram%>" class="instagram">
                                    <i class="fab fa-instagram"></i>
                                </a>
                                <a href="https://wa.me/<%=user.whatsapp%>" class="whatsapp">
                                    <i class="fab fa-whatsapp"></i>
                                </a>
                                <a href="mailto:<%=user.email%>" class="email">
                                    <i class="far fa-envelope"></i>
                                </a>
                            </div>
                        </div>
                        <div class="profile__stats">
                            <div class="profile__followers">
                                <h4><%= user.followersCount%></h4>
                                <p>Followers</p>
                            </div>
                            <div class="profile__real">
                                <h4>86%</h4>
                                <p>Real Users</p>
                            </div>
                            <div class="profile__price">
                                <h4><%= user.priceForPost%>$</h4>
                                <p>/Post</p>
                            </div>
                        </div>
                    </div>
                    <% }); %>
                </div>
            </section>
        </main>
        <footer class="footer">
            <h1>Footer</h1>
        </footer>
    </div>
    <div class="modal">
        <div class="modal-content">
            <h1>Join INSTADS</h1>
            <div class="modal-content__social">
                <button class="facebook-signing-button">
                    <i class="fab fa-facebook-square"></i>
                    <p>
                        Continue with Facebook
                    </p>
                </button>
                <button class="google-signing-button">
                    <i class="fab fa-google"></i>
                    <p>
                        Continue with Google
                    </p>
                </button>
            </div>
            <div class="divider">
                <span>OR</span>
            </div>
            <form action="/auth/signup" method="POST" class="modal-content__form">
                <input type="text" name="email" id="" class="modal-content__email" placeholder="Enter your email">
                <input type="text" name="instagram" id="" class="modal-content__instagram"
                    placeholder="Link To Instagram">
                <input type="password" name="password" id="" class="password" placeholder="Password">
                <input type="submit" value="Continue">
                <p>By joining I agree to receive emails from INSTADS.</p>
            </form>
            <div class="divider"></div>
            <div class="modal-footer">
                <p>Already a member?</p>
                <a href="">Sign In</a>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"
        integrity="sha256-NXRS8qVcmZ3dOv3LziwznUHPegFhPZ1F/4inU7uC8h0=" crossorigin="anonymous"></script>
    <script src="./index.js"></script>
</body>

</html>